
/********************************
 Common section of the website 
*********************************/
body{
   font-family: 'Roboto', sans-serif;
   margin: 0px;
   padding: 0px;
   border: none;  
}


.section-victim{
   padding: 80px 0px;

}

.text-decorate{
  
   width: 40%;
   margin: 0px auto;
}

h1{
   font-size: 2.5em;
   
}

/***********************************
 top section style
************************************/
#first-section{

   background-image: url(images/donation13.jpg);
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
    text-align: center;
   color: aliceblue;
   padding: 80px 10px;  
}



.text-decorate a{
  
   text-decoration: none;
   background-color: rgb(242, 72, 72);
   color: white;
   padding: 10px 25px;
   font-weight: 700;
   border-radius: 5px;
 
}


/********************************
 second section style
*********************************/
#donate-today{
   text-align: center;
}


.amount-details{
   display: flex;
   margin-bottom: 20px;
}


.amount-details h2{
   display: flex;
   box-shadow: 10px 10px 20px gray;
   margin: 10px 0px 0px 20px;
   padding: 20px;
   border-radius: 5px;

}


#highliting-money{
   background-color: rgb(175, 175, 237);;
   border: 2px solid blue;
}



.input-submit-btn{
   margin-left: 200px;
}


.input-btn{
   border: none;
   border-bottom: 1px solid gray;
   padding: 10px;
   margin-top: 20px;
}


.submit-btn{

   background-color: rgb(242, 72, 72);
   color: white;
   padding: 10px 25px;
   font-weight: 700;
   border: none;
   border-radius: 5px;
}



/********************************
 Third section style 
*********************************/










/********************************
 Common section of the website 
*********************************/

/********************************
 Common section of the website 
*********************************/

/********************************
 Common section of the website 
*********************************/

/********************************
 Common section of the website 
*********************************/

/********************************
 Common section of the website 
*********************************/

/********************************
 Common section of the website 
*********************************/

/********************************
 Common section of the website 
*********************************/